.subreddit-specifications {
    background-color: var(--secondary-light);
    padding: 140px 0;
    text-align: left;
}

.subreddit-specification-details h3 {
    margin: 0 0 16px 0;
}

.subreddit-specification-details p {
    margin: 0 0 28px 0;
}

.back-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}

.back-icon {
    width: 12px;
    height: 12px;
    fill: var(--primary);
    margin-right: 4px;
}