.hottest-posts {
    padding: 100px 0;
    background-color: var(--secondary-light);
}

.hottest-posts h2,
.hottest-posts h4 {
    text-align: center;
}

.subreddit-article {
    border-radius: 4px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    flex-basis: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 20px;
}

.subreddit-article-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 80px 0 0 0;
}

.subreddit-article-title-link,
.subreddit-article-title-link:link,
.subreddit-article-title-link:visited {
    color: var(--black);
    text-decoration: none;
}